name: ci
on:
  push:
    branches: [main, next]
  pull_request:
    branches: ['*']

jobs:
  ci:
    name: 'Main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - run: yarn install --frozen-lockfile
      - run: npm run lint
      - run: npm run build
      - run: npm test

  deno:
    name: 'Deno'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - run: env NAME=Deno deno test --allow-read --allow-env test_deno

  bun:
    name: 'Bun'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - run: curl -fsSL https://bun.sh/install | bash
      - run: echo "${HOME}/.bun/bin" >> $GITHUB_PATH
      - run: npm run test:bun

  fastly:
    name: 'Fastly Compute@Edge'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - run: yarn install --frozen-lockfile
      - run: npm run build
      - run: npm run test:fastly

  lagon:
    name: 'Lagon'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - run: yarn install --frozen-lockfile
      - run: npm run build
      - run: npm i -g @lagon/cli@latest esbuild@latest
      - run: npm run test:lagon

  node:
    name: 'Node.js'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - run: yarn install --frozen-lockfile
      - run: npm run build
      - run: npm run test:node

  wrangler:
    name: 'Cloudflare Workers'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - run: yarn install --frozen-lockfile
      - run: npm run build
      - run: npm run test:wrangler
